.bigImgAndSlider {
    &__bigImg {
        position: relative;
        .imgWrapper {
            position: relative;
            padding-top: 100%;
            @media(max-width: 767px) {
                padding-top: 75%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(1.5rem * 10);
        background-color: rgba($black, 0.5);
        display: flex;
        justify-content: flex-end;
        @media(max-width: 1399px) {
            height: calc(1.5rem * 8);
        }
        @media(max-width: 991px) {
            position: relative;
            margin-top: calc(var(--bs-gutter-y) * -3);
            height: unset;
        }
        .wrapper {
            max-width: 783px;
            flex: 1 0 100%;
            padding: 3rem 6rem 1rem calc(1.5rem * 0.5);
            @media(max-width: 767px) {
                padding-left: 10vw;
            }
            time {
                display: block;
                font-weight: 700;
                color: $primary;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.5rem;
                color: $white;
            }
        }
        a.btn {
            position: absolute;
            bottom: var(--bs-gutter-y);
            right: var(--bs-gutter-x);
        }
    }
    &__heading {
        width: 100%;
        padding-top: 31.75%;
        display: flex;
        align-items: center;
        position: relative;
        @media(max-width: 767px) {
            padding-top: unset;
            justify-content: center;
            margin-bottom: var(--bs-gutter-y);
        }
        .wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @media(max-width: 767px) {
                position: relative;
                top: unset;
                transform: unset;
                text-align: center;
            }
            a.btn {
                width: max-content;
            }
        }
    }
    &__slider {
        width: 100%;
        height: 68.25%;
        @media(max-width: 767px) {
            height: unset;
        }
        .swiper-slide {
            width: 68.25%;
            padding-top: 68.25%;
            position: relative;
            margin-right: var(--bs-gutter-x);
            .imgWrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        button {
            background-color: $primary;
            opacity: 0;
            transition: all 0.3s ease;
            &.prev {
                z-index: 1;
                position: absolute;
                top: 50%;
                left: calc(var(--bs-gutter-x) * 0.5);
                transform: translateY(-50%);
            }
            &.next {
                z-index: 1;
                position: absolute;
                top: 50%;
                right: var(--bs-gutter-x);
                transform: translateY(-50%);
                @media(max-width: 767px) {
                    right: calc(var(--bs-gutter-x) * 0.5);
                }
            }
            @media(max-width: 991px) {
                opacity: 1;
            }
        }
        &:hover {
            button {
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
        .bigImgAndSlider__caption {
            @media(max-width: 575px) {
                a.btn {
                    right: calc(var(--bs-gutter-x) * 0.5);
                }
            }
            .wrapper {
                padding-left: calc(1.5rem * 0.5);
                @media(min-width: 1591px) {
                    padding-left: 6rem;
                }
                @media(max-width: 767px) {
                    padding-left: 10vw;
                }
                @media(max-width: 575px) {
                    padding-left: calc(var(--bs-gutter-x) * 0.5);
                    padding-right: calc(var(--bs-gutter-x) * 3.5);
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.mediumImgAndSlider {
    &__mediumImg {
        position: relative;
        width: calc(100% - 0.75rem);
        max-width: calc(795px - 1.5rem);
        margin-left: auto;
        @media(max-width: 767px){
            width: 100%;
        }
        .imgWrapper {
            position: relative;
            padding-top: 100%;
            @media(max-width: 767px) {
                padding-top: 75%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(1.5rem * 10);
        background-color: rgba($black, 0.5);
        display: flex;
        justify-content: flex-end;
        @media(max-width: 1399px) {
            height: calc(1.5rem * 8);
        }
        @media(max-width: 991px) {
            position: relative;
            margin-top: calc(var(--bs-gutter-y) * -3);
            height: unset;
        }
        .wrapper {
            max-width: 783px;
            flex: 1 0 100%;
            padding: 3rem 6rem 1rem calc(1.5rem * 0.5);
            @media(max-width: 767px) {
                padding-left: 10vw;
            }
            time {
                display: block;
                font-weight: 700;
                color: $primary;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.5rem;
                color: $white;
            }
        }
        a.btn {
            position: absolute;
            bottom: var(--bs-gutter-y);
            right: var(--bs-gutter-x);
        }
    }
    &__heading {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        margin: auto 0;
        @media(max-width: 767px) {
            padding-top: unset;
            justify-content: center;
            margin-bottom: var(--bs-gutter-y);
        }
        .wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-right: 16%;
            @media(max-width: 991px){
                padding-right: 0.75rem;
            }
            @media(max-width: 767px) {
                position: relative;
                top: unset;
                transform: unset;
                text-align: center;
                padding: 0;
                justify-content: space-evenly;
            }
            @media(max-width: 575px){
                flex-direction: column;
                align-items: center;
            }
            a.btn {
                width: max-content;
            }
        }
    }
    &__slider {
        width: 100%;
        margin-top: auto;
        @media(max-width: 767px) {
            height: unset;
        }
        .swiper-slide {
            width: 68.25%;
            padding-top: 68.25%;
            position: relative;
            margin-right: var(--bs-gutter-x);
            .imgWrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        button {
            background-color: $primary;
            opacity: 0;
            transition: all 0.3s ease;
            &.prev {
                z-index: 1;
                position: absolute;
                top: 50%;
                left: calc(var(--bs-gutter-x) * 0.5);
                transform: translateY(-50%);
            }
            &.next {
                z-index: 1;
                position: absolute;
                top: 50%;
                right: var(--bs-gutter-x);
                transform: translateY(-50%);
                @media(max-width: 767px) {
                    right: calc(var(--bs-gutter-x) * 0.5);
                }
            }
            @media(max-width: 991px) {
                opacity: 1;
            }
        }
        &:hover {
            button {
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
        .mediumImgAndSlider__caption {
            @media(max-width: 575px) {
                a.btn {
                    right: calc(var(--bs-gutter-x) * 0.5);
                }
            }
            .wrapper {
                padding-left: calc(1.5rem * 0.5);
                @media(min-width: 1591px) {
                    padding-left: 6rem;
                }
                @media(max-width: 767px) {
                    padding-left: 10vw;
                }
                @media(max-width: 575px) {
                    padding-left: calc(var(--bs-gutter-x) * 0.5);
                    padding-right: calc(var(--bs-gutter-x) * 3.5);
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.masonrySections {
    &__square {
        .wrapper {
            position: relative;
            width: 100%;
            padding-top: 100%;
            @media(max-width: 767px) {
                padding-top: 75%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease;
            }
            .textAndButton {
                .text {
                    color: $white;
                    font-size: 1.75rem;
                    text-transform: uppercase;
                    @media(max-width: 767px) {
                        font-size: 8vw;
                    }
                }
                &.--bottom-right {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 0 2rem 2rem 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    a.btn {
                        position: relative;
                        bottom: -2rem;
                        border-bottom: 0;
                        margin-left: 1.5rem;
                    }
                }
                &.--right-bottom {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    padding: 0 0 2rem 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    a.btn {
                        position: relative;
                        bottom: 2rem;
                        border-right: 0;
                        margin-left: 1.5rem;
                    }
                }
            }
        }
        &:hover {
            img {
                filter: brightness(0.75);
                transition: all 0.3s ease;
            }
        }
    }
    &__rectangle {
        position: relative;
        height: 100%;
        @media(max-width: 767px) {
            padding-top: 75%;
        }
        .wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            @media(max-width: 767px) {
                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease;
            }
            .textAndButton {
                .text {
                    color: $white;
                    font-size: 1.75rem;
                    text-transform: uppercase;
                    text-shadow: 0 0 0.25rem rgba($black, 0.2);
                    @media(max-width: 767px) {
                        font-size: 8vw;
                    }
                }
                &.--right-top {
                    position: absolute;
                    top: 2rem;
                    right: 0;
                    width: 100%;
                    padding: 0 0 2rem 2rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    a.btn {
                        position: relative;
                        // bottom: -2rem;
                        border-right: 0;
                        margin-left: 1.5rem;
                    }
                }
                &.--left-top {
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                    width: 100%;
                    padding: 0 2rem 2rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    a.btn {
                        position: relative;
                        left: -2rem;
                        border-left: 0;
                        margin-top: 2rem;
                    }
                }
            }
        }
        &:hover {
            img {
                filter: brightness(0.75);
                transition: all 0.3s ease;
            }
        }
    }
    a.btn.--big {
        @media(max-width: 767px) {
            font-size: 3vw;
            border-width: 4px;
            font-weight: 500;
        }
    }
}

.filmSlider {
    .swiper-container {
        overflow: visible;
        .swiper-wrapper {
            display: flex;
            .swiper-slide {
                flex: 0 0 auto;
                width: 33.33333333%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                @media(max-width: 767px) {
                    width: 68.25%;
                }
            }
        }
        button.btn {
            position: absolute;
            top: 35%;
            transform: translate(0, -50%);
            z-index: 1;
            opacity: 0;
            @media(max-width: 767px) {
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
            }
            &.prev {
                left: calc(var(--bs-gutter-x) * 0.5);
                transform: translate(-50%, -50%);
                @media(max-width: 1659px) {
                    left: calc(var(--bs-gutter-x));
                    transform: translate(0, -50%);
                }
            }
            &.next {
                right: calc(var(--bs-gutter-x) * 0.5);
                transform: translate(50%, -50%);
                @media(max-width: 1659px) {
                    right: calc(var(--bs-gutter-x));
                    transform: translate(0, -50%);
                }
            }
        }
    }
    &__hideLeftSide {
        width: 100%;
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateX(calc(-100% + calc(var(--bs-gutter-x) * 0.5)));
    }
    &__swiper {
        &:hover {
            button.btn {
                opacity: 1;
            }
        }
    }
}

.gallerySlider {
    &__container {
        position: relative;
        width: 100%;
        max-width: 780px;
        margin: 0 auto;
        button.btn {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1;
            &.prev {
                left: calc(var(--bs-gutter-x) * -1.5);
                @media(max-width: 991px) {
                    left: calc(var(--bs-gutter-x));
                }
            }
            &.next {
                right: calc(var(--bs-gutter-x) * -1.5);
                @media(max-width: 991px) {
                    right: calc(var(--bs-gutter-x));
                }
            }
        }
    }
    &__swiper {
        width: 100%;
        max-width: 780px;
        position: relative;
        .swiper-overflow-hidden {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            padding-top: 75%;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}


/* SEARCH PANEL */

.searchPanel {
    &__buttons {
        margin-bottom: 1.5rem;
        button:not(:last-of-type) {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
        }
        button {
            @media(max-width: 767px) {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}


/* CARDS */

.cardBig {
    transition: all 0.3s ease;
    &__image {
        position: relative;
        width: 100%;
        padding-top: 100%;
        margin-bottom: 2rem;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        time {
            color: $primary;
            font-weight: 900;
        }
        p {
            font-size: 1.5rem;
            min-height: 5rem;
            line-height: 1.75rem;
            margin-bottom: 0.5rem;
            @media(max-width: 575px) {
                font-size: 1.75rem;
                font-size: 4.5vw;
                font-size: max(1.5rem, 4.5vw);
                line-height: 1.2;
            }
        }
    }
}

.cardBigShowup {
    transition: all 0.3s ease;
    // display: flex;
    // flex-direction: column;
    height: 100%;
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    th,
    td {
        border: 0;
        padding: 0;
        margin: 0;
        vertical-align: top;
        font-weight: normal;
    }
    &__image {
        position: relative;
        width: 100%;
        padding-top: 100%;
        background-color: $primary;
        @media(max-width: 767px) {
            padding-top: 75%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
    }
    &__spacer {
        width: 100%;
        min-height: var(--bs-gutter-y);
        position: relative;
        opacity: 0;
        transition: all 0.6s ease;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary;
            transform-origin: top center;
            // transform: scaleY(0);
        }
    }
    &__text {
        min-height: 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        height: 100%;
        time {
            color: $primary;
            font-weight: 900;
        }
        p {
            font-size: 1.5rem;
            line-height: 1.75rem;
            margin-bottom: 1.75rem;
            flex: 0 0 100%;
            margin-top: auto;
            @media(max-width: 575px) {
                font-size: 1.75rem;
                font-size: 4.5vw;
                font-size: max(1.5rem, 4.5vw);
                line-height: 1.2;
            }
        }
    }
    &__button {
        position: relative;
        margin-top: auto;
    }
    &__hiddenText {
        transform-origin: top;
        position: absolute;
        // left: calc(var(--bs-gutter-x) * 0.5);
        // right: calc(var(--bs-gutter-x) * 0.5);
        // min-height: 400px;
        background-color: $grey-light;
        display: block;
        max-height: 0;
        opacity: 0;
        height: auto;
        overflow: hidden;
        // transition: left 2s ease-in-out 1s, right 2s ease-in-out 1s, opacity 1s ease-in-out;
        // transition: left 0.3s ease-in-out, right 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
        &>* {
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    &__socials {
        a:not(:last-of-type) {
            margin-right: 0.75rem;
        }
    }
    &__contact {
        a {
            color: $primary;
            margin-right: 0.75rem;
            i {
                margin-right: 0.5rem;
            }
            &:hover {
                color: $black;
            }
        }
    }
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, 0.75);
        opacity: 0;
        // display: none;
        transition: all 0.3s ease;
        pointer-events: none;
        &.--active {
            display: block;
            opacity: 1;
            transition: all 0.45s ease;
            pointer-events: all;
        }
    }
    &__dummy {
        position: absolute;
        top: 0;
        margin: 0;
        pointer-events: none;
        opacity: 0;
    }
    //classes when hover over main element
    &:hover {
        .cardBigShowup {
            &__spacer {
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    // classes for elements if text is shown
    &.--active {
        z-index: 100;
        .cardBigShowup {
            &__image {
                position: relative;
                z-index: 100;
            }
            &__spacer {
                position: relative;
                opacity: 1;
                z-index: 100;
            }
            &__text {
                transition: min-height 0.45s ease-out;
            }
            &__hiddenText {
                z-index: 100;
                opacity: 1;
                max-height: unset;
                transition: opacity 0.45s ease-in-out, left 0.45s 0.1s ease-in-out, right 0.45s 0.1s ease-in-out, max-height 0.45s ease-out;
                // left: calc(var(--bs-gutter-x) * 0.5);
                // right: calc(var(--bs-gutter-x) * 0.5);
                &>* {
                    // opacity: 1;
                    transition: opacity 0.45s ease-in-out;
                }
            }
        }
    }
}

.cardSmall {
    padding: 1.5rem;
    background-color: $white;
    &__image {
        position: relative;
        width: 100%;
        padding-top: 75%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__text {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        height: 100%;
        p {
            margin: 2rem 0;
            flex: 0 0 100%;
            text-align: center;
        }
    }
    &__button {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

// .cardBigShowup {
//     transition: all 0.3s ease;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     &__image {
//         position: relative;
//         width: 100%;
//         padding-top: 100%;
//         img {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
//     &__spacer{
//         width: 100%;
//         min-height: var(--bs-gutter-y);
//         position: relative;
//         &::after{
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-color: $primary;
//             transform-origin: top center;
//             transform: scaleY(0);
//         }
//     }
//     &__text {
//         flex: 1 1 100%;
//         display: flex;
//         flex-direction: column;
//         time {
//             color: $primary;
//             font-weight: 900;
//         }
//         p {
//             font-size: 1.5rem;
//             min-height: 5rem;
//             line-height: 1.75rem;
//             margin-bottom: 0.5rem;
//             @media(max-width: 575px) {
//                 font-size: 1rem;
//                 line-height: 1.5rem;
//             }
//         }
//     }
//     &__button {
//         position: relative;
//     }
//     &__hiddenText {
//         flex: 0;
//         transform-origin: top;
//         position: absolute;
//         // top: initial;
//         left: calc(var(--bs-gutter-x) * 0.5);
//         right: calc(var(--bs-gutter-x) * 0.5);
//         min-height: 400px;
//         background-color: $grey-light;
//         z-index: 100;
//         // margin: 0;
//         // display: none;
//     }
// }
.cardSimpleImg {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: $white;
    box-shadow: 0 0 3rem rgba($black, 0.1);
    display: block;
    color: $black;
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        border: 2px solid transparent;
        transition: all 0.2s 0.1s ease-in-out;
        &:hover {
            border-color: $primary;
            transition: all 0.3s ease-in-out;
            img {
                transition: all 0.3s ease-in-out;
            }
            p {
                color: $black;
            }
        }
    }
    &__image {
        &Wrapper {
            width: 50%;
            padding-top: 50%;
            position: relative;
            margin: 0 auto 2rem auto;
            @media(min-width: 768px) and (max-width: 1199px) {
                margin: 0 auto 1rem auto;
            }
            @media(max-width: 767px) {
                width: 75%;
                padding-top: 75%;
                margin-bottom: 1rem;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &__description {
        max-height: 6rem;
        margin: 0;
        overflow: hidden;
        @media(max-width: 991px) {
            max-height: 4rem;
        }
        @media(min-width: 576px) and (max-height: 767px) {
            max-height: 6rem;
        }
        p {
            margin: 0;
            @media(max-width: 767px) {
                max-width: 75%;
                margin: 0 auto;
            }
        }
    }
    &.--noImage {
        padding-top: 0;
        .cardSimpleImg__wrapper {
            position: relative;
        }
    }
}

.cardSimpleLogo {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: $white;
    box-shadow: 0 0 3rem rgba($black, 0.1);
    color: $black;
    overflow: hidden;
    span.btn {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0.75rem;
        pointer-events: visible;
    }
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        border: 2px solid transparent;
        transition: all 0.2s 0.1s ease-in-out;
        &:hover {
            border-color: $primary;
            transition: all 0.3s ease-in-out;
            img {
                transition: all 0.3s ease-in-out;
            }
            p {
                color: $black;
            }
        }
    }
    &__image {
        &Wrapper {
            width: 100%;
            padding-top: 50%;
            position: relative;
            margin: 0 auto 2rem auto;
            @media(min-width: 768px) and (max-width: 1199px) {
                margin: 0 auto 1rem auto;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &__description {
        margin: 0;
        overflow: hidden;
        @media(max-width: 767px) {
            font-size: 1.75em;
        }
        p {
            margin: 0;
            min-height: 3rem;
            text-align: center;
            &:last-of-type {
                min-height: unset;
                margin: 0;
            }
        }
    }
    &.--noImage {
        padding-top: 0;
        .cardSimpleLogo__wrapper {
            position: relative;
        }
    }
}

.businessCard {
    position: relative;
    padding: 3rem 1.5rem 3rem 8rem;
    background-color: $grey-light;
    &__image {
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 6rem;
        height: 6rem;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__name {
        font-size: 1.2rem;
        font-weight: 900;
        margin: 0;
    }
    &__role {
        margin-bottom: 0.75rem;
        text-transform: capitalize;
    }
    &__mail {
        margin: 0;
        font-size: 1.15rem;
        font-weight: 500;
        a {
            color: $primary;
            &:hover {
                color: $black;
            }
        }
    }
    &__phone {
        margin: 0;
        font-size: 1.15rem;
        a {
            color: $black;
            &:hover {
                color: $primary;
            }
        }
    }
}

// position: absolute;
// background-color: lightgrey;
// height: 400px;
// left: 0.75rem;
// right: 0.75rem;
// min-width: 505px;
// margin: 0 auto;
// z-index: 100;
// transition: all 0.3s ease;

/* width: calc(100% - 1.5rem); */


/* width: 0; */


/* opacity: 0;
/* left: 0; */

.detailsList {
    &__wrapper {
        position: relative;
        list-style: none;
        padding: 0;
    }
    &__item {}
    &__heading {
        position: relative;
        padding-left: 2rem;
        &::before {
            content: "";
            width: 1rem;
            height: 150%;
            max-height: 2.5rem;
            background-color: #ec6907;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__text {}
}

.imageAndText {
    background-color: $grey-light;
    &__image {
        position: relative;
        padding-top: 100%;
        z-index: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }
    &__imageDecoration {
        position: absolute;
        top: 50%;
        left: -5rem;
        width: 75%;
        height: 80%;
        transform: translateY(-50%) rotate( 350deg);
        background-color: $primary;
        border-radius: 50%;
        z-index: -1;
        &::before {
            content: '';
            width: 100%;
            height: 130%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2.2rem;
            background-color: $grey-light;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
}

.shiftedBackground {
    position: relative;
    &__background {
        position: absolute;
        top: 24rem;
        left: 0;
        width: 100%;
        height: calc(100% - 24rem);
        z-index: -1;
    }
}

.iconsBox {
    padding: 9rem 0 3rem;
    background-color: $primary;
    @media(max-width: 767px) {
        padding: 4.5rem 0 1.5rem;
    }
    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width: 767px) {
            justify-content: center;
        }
    }
    &__icon {
        flex: 0 0 25%;
        position: relative;
        padding-bottom: 6rem;
        @media(max-width: 767px) {
            flex: 0 0 50%;
            padding-bottom: 3rem;
        }
        &Image {
            position: relative;
            background-color: $white;
            width: 33%;
            padding-top: 33%;
            margin: 0 auto 1.5rem;
            border-radius: 50%;
            img {
                position: absolute;
                top: 15%;
                left: 15%;
                width: 70%;
                height: 70%;
                object-fit: contain;
                filter: brightness(0) invert(50%) brightness(1) sepia(1) saturate(6) hue-rotate(333deg);
            }
        }
        &Text {
            text-align: center;
            color: $white;
            p {
                max-width: 14.5rem;
                margin: 0 auto;
                font-size: 1.2rem;
            }
        }
    }
}

.parallaxImage {
    &__wrapper {
        overflow: hidden;
        position: relative;
    }
    &__content {
        position: relative;
        background-size: cover;
        background-position: center;
        padding: 9rem 0;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
        }
    }
}

.infoLayout {
    &__description {
        padding-top: 3rem;
    }
    &__socials {
        margin-bottom: 1.5rem;
        a {
            color: $primary;
            font-size: 0.8rem;
            &:hover {
                color: $black;
            }
        }
        a:not(:last-of-type) {
            margin-right: 0.75rem;
        }
        @media(max-width: 767px) {
            text-align: center;
        }
    }
    &__descriptionName {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        @media(max-width: 767px) {
            text-align: center;
        }
    }
    &__descriptionSlider {
        position: relative;
        width: 100%;
        margin: 0 auto;
        button.btn {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1;
            &.prev {
                left: calc(var(--bs-gutter-x));
                opacity: 0;
                @media(max-width: 1200px) {
                    opacity: 1;
                }
            }
            &.next {
                right: calc(var(--bs-gutter-x) * -1.5);
                @media(max-width: 1620px) {
                    right: calc(var(--bs-gutter-x));
                }
            }
        }
        .swiper-container {
            width: 100%;
            position: relative;
            // .swiper-overflow-hidden {
            //     overflow: hidden;
            //     width: 100%;
            //     height: 100%;
            // }
            .swiper-slide {
                padding-top: 50%;
                position: relative;
                @media(max-width: 767px) {
                    padding-top: 75%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        &:hover {
            button.btn.prev {
                opacity: 1;
            }
        }
    }
}

.contactInfoMap {
    &__detailsWrapper {
        margin-left: calc(var(--bs-gutter-x) * -0.5);
        height: 100%;
        background-color: $grey-light;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--bs-gutter-x) * 0.5);
    }
    &__details {
        &>p {
            font-weight: 500;
        }
        a {
            color: $primary;
            &:hover {
                color: $black;
            }
        }
    }
    &__map {
        position: relative;
        padding-top: 50%;
        // margin-right: calc(var(--bs-gutter-x) * -0.5);
        @media(max-width: 991px) {
            padding-top: 62%;
        }
        @media(max-width: 767px) {
            padding-top: 100%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.page404 {
    position: relative;
    display: flex;
    @media(max-width: 767px) {
        display: block;
        transform: translateY(-35%);
    }
    @media(max-height: 320px) {
        transform: unset;
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 370px;
        padding: 0 3rem;
        @media(max-width: 767px) {
            min-width: unset;
            padding: 0 0.75rem;
        }
    }
    &__textNumber {
        font-size: 9.4rem;
        color: $primary;
        font-weight: 500;
        line-height: 1;
        margin: 0;
    }
    &__textDescription {
        font-size: 1.65rem;
    }
    &__button {
        position: relative;
        @media(max-width: 767px) {
            a {
                background-color: $primary;
                color: $white;
                border-color: $primary;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    &__image {
        position: relative;
        padding-left: 10rem;
        @media(max-width: 1590px) {
            padding-left: 10vw;
        }
        @media(max-width: 1199px) {
            padding-left: 0;
        }
        @media(max-width: 767px) {
            position: absolute;
            top: 72%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        @media(max-height: 320px) {
            top: 0;
            opacity: 0.33;
            transform: translateX(50%);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.privacyPolicy {
    &__list {
        padding-left: 1.25em;
        &>li {
            margin-bottom: 2em;
            color: $primary;
            font-weight: 900;
            font-size: 1.1rem;
            &::before {
                color: $primary;
                font-weight: 900;
                font-size: 1.1em;
            }
            ol {
                color: $black;
                font-weight: 400;
                font-size: 1rem;
            }
            &>ol {
                position: relative;
                left: -0.25em;
            }
        }
    }
    ol {
        counter-reset: item;
        p {
            margin: 0;
        }
    }
    ol li {
        display: block;
        position: relative;
        // p:first-of-type{
        //     color: $primary;
        //     font-weight: 900;
        // }
    }
    ol li:before {
        content: counters(item, ".")"";
        counter-increment: item;
        position: absolute;
        margin-right: 100%;
        right: 0.5em;
        /* space between number and text */
    }
    li>ol {
        margin-left: -1.25em;
        // margin-bottom: 1em;
    }
}