@keyframes headerFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    opacity: 0;
    animation: headerFadeIn 0.4s 0.3s ease-in-out forwards;
    transition: all 0.3s ease-in-out;
    position: relative;
}


/* HEADER WITH BIG SLIDER */

.header__slider {
    .swiper-slide {
        width: 100%;
        padding-top: 42.19%;
        @media(max-width: 767px) {
            padding-top: 75%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .swiper-pagination {
        max-width: 1590px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1rem;
        text-align: right;
        opacity: 0;
        @media(max-width: 767px) {
            opacity: 1;
            text-align: center;
        }
    }
    button {
        background-color: $primary;
        opacity: 0;
        transition: all 0.3s ease;
        bottom: 1.5rem;
        position: absolute;
        transform: translateY(-50%);
        z-index: 1;
        @media(max-width: 767px) {
            opacity: 1;
        }
        &.prev {
            left: 1.5rem;
        }
        &.next {
            right: 1.5rem;
        }
    }
    &:hover {
        button {
            opacity: 1;
            transition: all 0.3s ease;
        }
        .swiper-pagination {
            opacity: 1;
        }
    }
}


/* HEADER WITH MEDIUM IMG ON LEFT AND TEXT ON RIGHT SIDE */

.headerOne {
    position: relative;
    overflow: visible;
    @media(max-width: 767px){
        background-color: $grey-light;
    }
    &__background {
        position: absolute;
        background-color: $grey-light;
        width: 100vw;
        height: calc(100% + 300px);
        right: calc(var(--bs-gutter-x) * -2);
        bottom: 0;
        max-width: unset;
        padding: 0;
        @media(max-width: 1919px) {
            right: 0;
        }
        @media(max-width: 767px){
            display: none;
        }
    }
    &__image {
        position: relative;
        height: 100%;
        .wrapper {
            position: sticky;
            top: 100px;
            padding-top: 100%;
            @media(max-width: 767px){
                padding-top: 75%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__text {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h1 {
            font-size: 2.85rem;
        }
        h2{
            font-size: 1.6rem;
        }
        time {
            color: $primary;
            font-weight: 900;
        }
        p {
            font-size: 1.15rem;
        }
        &Bold{
            font-weight: 900;
        }
        &Normal{
            font-weight: 400;
        }
    }
    &__socials{
        color: $primary;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{  
            margin-left: 0.5rem;
            border-color: $primary;
            i{
                color: $primary !important;
            }
            &:hover{
                background-color: $primary;
                i{
                    color: $grey-light !important;
                }
            }
        }
    }
}

button#js-button-scroll-down-to {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(calc(100% + var(--bs-gutter-x) * 3));
    @media(max-width: 1919px) {
        transform: unset;
        right: var(--bs-gutter-x);
    }
    @media(max-width: 767px){
        right: calc(var(--bs-gutter-x) * 0.5);
    }
}